.SectionContact {
    position: relative;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    width: 100vw;
    min-height: 100vh;
    background: var(--backgroundColor);
    color: var(--contentColor);
  }

.ContactMain {
  grid-column-start: 2;
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: 'center';
  align-items: 'center';
  flex-wrap: wrap;
  font-size: 3em;
  overflow: hidden;
}

.ContactMain-Disclaimer {
  font-family: Jost;
  font-style: italic;
  flex: 1 0 50%;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ContactMain-ContactLinks {
  font-family: Rokkit;
  flex-direction: column;
  flex: 1 0 50%;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.ContactMain-ContactLink {
  font-family: Rokkitt;
  font-size: 1.2em;
  cursor: pointer;

  &:hover {
    color: grey;
  }
}