.SectionTech {
    width: 100%;
    min-height: 115vh;
    background: var(--backgroundColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 15vh;
    position: relative;
}

.Tech-text-wrapper {
    height: 200px;
    text-align: center;
    vertical-align: middle;
}

.Tech-text {
    color: var(--contentColor);
    display: flex;
    font-style: normal;
    font-family: 'Jost', 'sans-serif';
    font-size: 5.2vw;
    line-height: 100px;
    letter-spacing: 20px;

    @media (max-width: 1000px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
}

.special-colorizing {
    font-size: 3em;
    color: #C91961;
}


.Tech-wheel-wrapper {
    overflow: hidden;
    transform: scale(1.2);
    @media screen and (max-width: 1000px) {
       transform: scale(0.5);
       margin-top: 50px;
    }
}

.Tech-wheel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    -webkit-animation: spin linear 10s infinite;
    animation: spin linear 10s infinite;
    -webkit-transform-style:  preserve-3d;;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50% -300px;
    
    div {
        position: absolute;
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-origin: 50% 50% -300px;

        @for $i from 1 through 8 {
            
            &:nth-child(#{$i}) {
                -webkit-transform: rotateY(calc(45deg * #{$i}));
                transform: rotateY(calc(45deg * #{$i}));
            }

            @if $i == 1 {  
                &:nth-child(#{$i}) {
                -webkit-transform: rotateY(calc(45deg * #{$i})) scale(0.8);
                transform: rotateY(calc(45deg * #{$i})) scale(0.8);
                }
            }

            @if $i == 3 {  
                &:nth-child(#{$i}) {
                -webkit-transform: rotateY(calc(45deg * #{$i})) scale(1.5);
                transform: rotateY(calc(45deg * #{$i})) scale(1.5);
                }
            }

            @if $i == 4 {  
                &:nth-child(#{$i}) {
                -webkit-transform: rotateY(calc(45deg * #{$i})) scale(0.8);
                transform: rotateY(calc(45deg * #{$i})) scale(0.8);
                }
            }

            
            @if $i == 5 {  
                &:nth-child(#{$i}) {
                -webkit-transform: rotateY(calc(45deg * #{$i})) scale(0.8);
                transform: rotateY(calc(45deg * #{$i})) scale(0.8);
                }
            }

            @if $i == 8 {  
                &:nth-child(#{$i}) {
                width: unset;
                -webkit-transform: rotateY(calc(45deg * #{$i})) scale(0.25);
                transform: rotateY(calc(45deg * #{$i})) scale(0.25);
                }
            }
        }

        svg {
            display: block;
        }
    }

}

.react-logo-wrapper svg {
    width: 250px;
}

@keyframes spin {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}